<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/styles/header.css" />
      <link rel="stylesheet" href="/styles/admin.css" />

      <title>Pharma+ | Admin</title>
   </head>
   <body>
      <header class="header header--flex-center">
         <a href="/admin/orders" class="link-button">Замовлення</a>
         <a href="/admin/pharmacies-products" class="link-button"
            >Наявність продуктів в аптеках</a
         >
         <a href="/admin/pharmacies" class="link-button">Аптеки</a>
         <a href="/admin/products" class="link-button">Продукти</a>
         <a href="/admin/categories" class="link-button">Категорії</a>
         <a href="/admin/forms" class="link-button">Форми випуску</a>
         <a href="/admin/application-methods" class="link-button"
            >Методи застосування</a
         >
      </header>
   </body>
</html>
