@use "../helpers" as *;

.catalog-section {
   display: grid;
   grid-template-columns: auto 1fr;
   padding-top: var(--section-padding-top);
   padding-bottom: var(--section-padding-bottom);
   column-gap: rem(50);
   row-gap: rem(10);

   &--categories {
      grid-template-areas: "filters categories";

      @include tablet {
         grid-template-areas: "filters" "categories";
         grid-template-columns: 1fr;
      }
   }

   &--products {
      grid-template-areas:
         "filters filters-bar"
         "filters products";

      grid-template-rows: auto 1fr;
      align-items: start;

      @include tablet {
         grid-template-areas: "filters" "filters-bar" "products";
         grid-template-columns: 1fr;
      }
   }
}
