@use "../helpers" as *;

.icon {
   position: relative;

   &::after {
      --size: #{rem(28)};

      @include square(var(--size));
      @include abs-y;

      content: "";
      margin-left: rem(10);
      transition-duration: var(--transition-duration);
   }

   &-arrow--black {
      &::after {
         background: url("/icons/icon-arrow--black.svg") center/cover no-repeat;

         @include laptop {
            --size: #{rem(20)};
         }
      }
   }

   &-book {
      &::before {
         background: url("/icons/icon-book.svg") center/cover no-repeat;
      }
   }

   &-pill {
      &::before {
         background: url("/icons/icon-pill.svg") center/cover no-repeat;
      }
   }

   &-chart-bar {
      &::before {
         background: url("/icons/icon-chart-bar.svg") center/cover no-repeat;
      }
   }
}
