@use "../helpers" as *;

.product {
   &-card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
         "gallery"
         "label"
         // "description"
         "button";
      width: min-content;
      justify-content: center;
      padding: rem(30);
      padding-bottom: rem(40);
      border-radius: rem(15);
      background-color: var(--color-light);
      color: var(--color-dark);
      grid-area: product-card;

      @include laptop {
         grid-template-areas:
            "gallery label"
            "gallery button";
         grid-template-columns: auto 1fr;
         width: 100%;
         column-gap: rem(30);
         align-items: start;
      }

      @include mobile {
         grid-template-areas:
            "gallery"
            "label"
            // "description"
            "button";
         grid-template-columns: 1fr;
      }
   }

   &__gallery {
      --size: #{rem(80)};
      --gap: #{rem(10)};

      grid-area: gallery;
      display: grid;
      grid-template-columns: repeat(5, var(--size));
      grid-template-rows: repeat(4, var(--size));
      gap: var(--gap);
      grid-template-areas:
         "first first first first second"
         "first first first first thrid"
         "first first first first fourth"
         "first first first first fifth";

      @include laptop {
         --size: #{rem(60)};
      }

      @include mobile {
         --size: #{rem(40)};

         grid-template-columns: repeat(4, var(--size));
         grid-template-rows: repeat(4, var(--size));

         grid-template-areas:
            "first first first first"
            "first first first first"
            "first first first first"
            "second thirt fourth fifth";
      }

      img {
         @include square(var(--size));
         align-self: center;
         justify-self: center;
      }

      img:first-child {
         grid-area: first;
         @include square(calc(4 * var(--size) + 3 * var(--gap)));
      }
   }

   &__label {
      grid-area: label;
      @include fluid-text(24, 18);
      font-weight: 500;
      margin-top: rem(30);
   }

   &__check-price {
      grid-area: button;
      background-color: var(--color-accent-20);
      color: var(--color-light);
      border-radius: rem(8);
      padding: rem(10) rem(40);
      margin-top: rem(35);
      align-self: end;
   }
}
