@use "../helpers" as *;

.product-section {
   padding-top: var(--section-padding-top);
   padding-bottom: var(--section-padding-bottom);

   display: grid;
   grid-template-columns: auto 1fr;
   grid-template-rows: auto 1fr;
   column-gap: rem(50);
   row-gap: rem(15);
   min-height: 100vh;
   align-items: start;

   grid-template-areas:
      "filters-bar filters-bar"
      "product-card details";

   @include laptop {
      grid-template-areas:
         "filters-bar"
         "product-card"
         "details";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
   }
}
