div(data-js-address-selector).address-selector
   input(type="text" placeholder="Street").address-selector__street
   input(type="text" placeholder="№ house").address-selector__house
   input(type="text" placeholder="№ Apartment").address-selector__apartment