div(data-js-blisters-counter).counter.counter--blisters
   span.counter__title Blisters 
   button(type="button" data-js-blisters-counter-decrease-button).counter__button - 
   span(data-js-blisters-counter-counter).counter__value 0
   button(type="button" data-js-blisters-counter-increase-button).counter__button +