ul.catalog.catalog--categories 
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
   li.catalog__item
      include ./category-item
      