div(data-js-filter-list).accordion-group
   div.accordion-group__inner
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
