header.header.container(data-js-header)
   a.header__logo-container(href="/") 
      img.logo(src="/images/logo.svg" alt="Pharma+ logo")
      span.logo__description Pharma+
   
   nav.menu(aria-label="Navigation menu")
      ul.menu__list
         li.menu__list-item
            button.menu__item-inner(type="button" aria-expanded="false" aria-controls="location-dropdown" data-js-header-location-menu-button)
               span(data-js-location-name aria-label="Selected location") Kyiv
               img(src="/icons/icon-map-pin.svg", alt="Select location").menu__list-icon--pin
            include ../components/locationMenu.pug
         li.menu__list-item
            a(href="/cart.html").menu__item-inner
               img(src="/icons/icon-cart.svg" aria-label="shoping cart" alt="Shopping cart icon").menu__list-icon
               span(aria-label="Shopping cart") Cart
         li.menu__list-item
            a(href="/").menu__item-inner
               img(src="/icons/icon-user.svg" aria-label="account" alt="User login icon").menu__list-icon
               span(aria-label="User login") Login

