nav.location-menu(id="location-dropdown" data-js-location-dropdown)
   div.location-menu__search
      label.visually-hidden(for="location-search" ) Enter city name
      input.location-menu__input(type="text" placeholder="Enter city name" aria-label="Enter city name" data-js-location-search-input data-js-location-search-item)
      img.location-menu__search-icon(src="/icons/icon-search.svg", alt="Search")
   ul.location-menu__list 
      li 
         button.location-menu__item(data-js-location-search-item)
            span Kremenchuk
      li
         button.location-menu__item(data-js-location-search-item)
            span Kyiv
      li
         button.location-menu__item(data-js-location-search-item)
            span Odessa
      li
         button.location-menu__item(data-js-location-search-item)
            span Lviv
      li
         button.location-menu__item(data-js-location-search-item)
            span Zhitomir
      li
         button.location-menu__item(data-js-location-search-item)
            span Dnipro
      li
         button.location-menu__item(data-js-location-search-item)
            span Parvlograd
      li
         button.location-menu__item(data-js-location-search-item)
            span New-York
      li
         button.location-menu__item(data-js-location-search-item)
            span Boston
      li
         button.location-menu__item(data-js-location-search-item)
            span Mantchester
      li
         button.location-menu__item(data-js-location-search-item)
            span Poltava