li.pharmacy-card
   h3.pharmacy-card__title Pharmacy #1
   span.pharmacy-card__address-wrapper Address:
      span.pharmacy-card__address address
   span.pharmacy-card__price-wrapper Price:
      span.pharmacy-card__price $100
   button.pharmacy-card__add-to-cart(aria-label="Add Pharmacy #1 to cart") Add to cart

