div.product-card--large 
   div.product-card--large__gallery
      img(src="/images/product-image.png", alt="")
      img(src="/images/product-image.png", alt="")
      img(src="/images/product-image.png", alt="")
      img(src="/images/product-image.png", alt="")
      img(src="/images/product-image.png", alt="")
   h1.product-card--large__label 100% Whey Gold Standard - Optimum Nutrition
   button.product-card--large__check-price Сheck pharmacy prices