div(role="search" data-js-products-searcher).product-searcher
   div.product-searcher__inner
      label(for="products-search" class="visually-hidden") Enter product name
      button(type="button" aria-label="Search products").product-searcher__button
      input(id="products-search" type="text" placeholder="Product name" data-js-searcher-input).product-searcher__input 
   button(type="button" data-js-filter-list-button).product-searcher__list-button
   