div(role="search").searcher
   label(for="categories-search" class="visually-hidden") Enter category name
   button(type="button" data-js-categories-search-button aria-label="Search categories").searcher__button
   input(id="categories-search" type="text" placeholder="Category name" data-js-categories-input).searcher__input 