@use "helpers" as *;

body {
   display: flex;
   flex-direction: column;
   font-family: var(--font-family-base);
   color: var(--color-light);
}

main {
   --horizontalCoef: 100%;

   background: url("/images/background-2.png") center top;
   background-size: var(--horizontalCoef) auto;
   min-height: 100vh;

   @include laptop {
      --horizontalCoef: 130%;
   }

   @include mobile {
      --horizontalCoef: 200%;
   }
}

a,
button,
label,
input,
textarea,
select,
svg * {
   transition-duration: var(--transition-duration);
}

button {
   border: none;

   &:active {
      transform: scale(0.99);
   }
}

a {
   color: inherit;
   text-decoration: none;

   &[class] {
      text-decoration: none;
   }
}

:focus-visible {
   outline: rem(1) dashed var(--color-light);
   outline-offset: rem(2);
}
