form(data-js-address-selector).address-selector
   input(type="text" placeholder="Street" data-js-address-selector-street-input).address-selector__street
   input(type="text" placeholder="№ house" data-js-address-selector-house-input).address-selector__house
   input(type="text" placeholder="№ Apartment" data-js-address-selector-apartment-input).address-selector__apartment