div(data-js-filter-list).accordion-group
   div.accordion-group__inner
      each filterType in filterTypes  
         div.accordion
            details.accordion__details(name="filter", close)
               summary.accordion__summary
                  h4.accordion__title
                     span(role="term", aria-details="filter" + index)= filterType.filterTypeLable
            div.accordion__content(id="filter" + index, role="definition")
               div.accordion__content-inner
                  ul.accordion__content-body
                     each filter in filterType.filters
                        li(data-js-filter).filter  
                           label.filter__checkbox(data-js-filter-item data-filter-value=filter)
                              input(type="checkbox" class="filter__input" data-js-filter-checkbox value=filter name=("filter-" + filterType.filterTypeId))
                              span(class="filter__label")= filter
                           span(class="filter__additional") (2)
