@use "helpers" as *;

:root {
   --color-dark: #030f0f;
   --color-dark-05: #efefef;
   --color-dark-10: #e6e6e6;
   --color-dark-20: #7f7f7f;
   --color-dark-30: #333333;

   --color-light: #ffffff;

   --color-accent-10: #174e4f;
   --color-accent-20: #264945;

   --font-family-base: "Poppins", sans-serif;
   --font-family-accent: "Kanit", sans-serif;

   --transition-duration: 0.2s;

   --container-width: 89.583vw;
   --container-padding-x: #{rem(16)};
}
