doctype html 
html(lang='ua')
   head 
      meta(charset='utf-8')
      title='Vite+pug'
      script(src='src/scripts/pages/catalog.js', type='module') 
   body 
      include ../components/header
      main
         section.catalog-section.container 
            div(data-js-categories-search).catalog-section__search-categories   
               div.search__input-wrapper
                  input(type="text" placeholder="Category name" data-js-categories-input).search__input 
                  button(data-js-categories-search-button).search__button
               include ../components/categories-list   