ul.catalog  
   li.catalog__row-wrapper
      ul.catalog-row
         li.catalog-row__item
            div.category-card
               img.category-card__image(src="", alt="Categoty image")
               span.category-card__title Protein 
               button.caregory-carrd__button View all