div.category-card
   img.category-card__image(src="/images/product-image.png", alt="Protein category image")
   h2.category-card__title Protein 
   a(href="/catalog.html" aria-label="View all Protein products").category-card__button View all  