ul.list-categories   
   li.list-categories__inner
      button(type="button", data-js-categories-option).list-categories__item.is-active 
         img.list-categories__item-icon(src="/icons/icon-category.svg", alt="Category Title")
         span(data-js-categories-title).list-categories__item-title Category
   li.list-categories__inner
      button(type="button", data-js-categories-option).list-categories__item
         img.list-categories__item-icon(src="/icons/icon-category.svg", alt="Category Title")
         span(data-js-categories-title).list-categories__item-title Category
   li.list-categories__inner
      button(type="button", data-js-categories-option).list-categories__item  
         img.list-categories__item-icon(src="/icons/icon-category.svg", alt="Category Title")
         span(data-js-categories-title).list-categories__item-title Category
   li.list-categories__inner
      button(type="button", data-js-categories-option).list-categories__item  
         img.list-categories__item-icon(src="/icons/icon-category.svg", alt="Category Title")
         span(data-js-categories-title).list-categories__item-title Category
