div.category-card
   img.category-card__image(src="/images/product-image.png", alt="Categoty image")
   span.category-card__title Protein 
   a(type="button" href="/catalog.html").category-card__button View all  