div.date-selector
   h5.date-selector__title Select a date 
   button(type="button").date-selector__date 25
   button(type="button").date-selector__date 26
   button(type="button").date-selector__date.is-selected 27
   button(type="button").date-selector__date 28
   button(type="button").date-selector__date 1