div.accordion
   details.accordion__details(name="faq", open)
      summary.accordion__summary
         h4.accordion__title
            span(role="term", aria-details="faq-1") Filter
   div.accordion__content(id="faq-1", role="definition")
      div.accordion__content-inner
         div.accordion__content-search
            img(src="./icons/icon-search.svg", alt="").accordion__content-img
            input(type="text" placeholder="Filter title").accordion__content-input
         ul.accordion__content-body
            li(data-js-filter).filter  
               label.filter__checkbox(data-js-filter-item data-filter-value="Filter 1")
                  input(type="checkbox" class="filter__input" data-js-filter-checkbox value="Filter 1" id="filter-1")
                  span(class="filter__label") Filter 1
               span(class="filter__additional") (2)
            li(data-js-filter).filter  
               label.filter__checkbox(data-js-filter-item data-filter-value="Filter 2")
                  input(type="checkbox" class="filter__input" data-js-filter-checkbox value="Filter 2" id="filter-2")
                  span(class="filter__label") Filter 2
               span(class="filter__additional") (2)
            li(data-js-filter).filter  
               label.filter__checkbox(data-js-filter-item data-filter-value="Filter 3")
                  input(type="checkbox" class="filter__input" data-js-filter-checkbox value="Filter 3" id="filter-3")
                  span(class="filter__label") Filter 3
               span(class="filter__additional") (2)
               