div.accordion
   details.accordion__details(name="faq", open)
      summary.accordion__summary
         h4.accordion__title
            span(role="term", aria-details="faq-1") Filter
   div.accordion__content(id="faq-1", role="definition")
      div.accordion__content-inner
         div.accordion__content-search
            img(src="./icons/icon-search.svg", alt="").accordion__content-img
            input(type="text" placeholder="Filter title").accordion__content-input
         ul.accordion__content-body
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)
            li.filter  
               label.filter__checkbox
                  input(type="checkbox").filter__input
                  span.filter__label Filter
               span.filter__additional (2)