div.accordion-group
   div.accordion-group__inner
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion
      include ./filter-accordion


