header.header.container
   div.header__logo-container 
      img(src="/images/logo.svg").logo 
      span.logo-description Pharma+
   
   nav.menu
      ul.menu__list
         li.menu__list-item
            button Kremenchuk
         li.menu__list-item
            img(src="/icons/icon-cart.svg").menu__list-icon
            a(href="#") Cart
         li.menu__list-item
            img(src="/icons/icon-user.svg").menu__list-icon
            a(href="#") Login
