header.header.container(data-js-header)
   a.header__logo-container(href="/") 
      img.logo(src="/images/logo.svg" alt="Pharma+ logo")
      span.logo__description Pharma+
   
   nav.menu(aria-label="Navigation menu")
      ul.menu__list
         li.menu__list-item
            button.menu__item-inner(type="button" aria-expanded="false" aria-controls="location-dropdown" data-js-header-location-menu-button)
               span(data-js-location-name) Kremenchuk
               img(src="/icons/icon-map-pin.svg", alt="Select location").menu__list-icon--pin
            include ../components/locationMenu.pug
         li.menu__list-item
            a(href="/").menu__item-inner
               img(src="/icons/icon-cart.svg" alt="Cart").menu__list-icon
               span Cart
         li.menu__list-item
            a(href="/").menu__item-inner
               img(src="/icons/icon-user.svg" alt="Login").menu__list-icon
               span Login
