div.location-menu(data-js-location-search)
   div.location-menu__search
      input.location-menu__input(type="text" placeholder="City name" tab-index="1" data-js-location-search-input)
      img.location-menu__search-icon(src="/icons/icon-search.svg", alt="Search")