li.order-to-confirm-item.courier-delivery
   div.order-to-confirm-item__product-info
      img.order-to-confirm-item__image(src="/images/product-image.png", alt="")
      h4.order-to-confirm-item__title 100% Whey Gold Standard - Optimum Nutrition
      span.order-to-confirm-item__attributes Vanilla, 2279gr
      span.order-to-confirm-item__availability-message Will be available from: 25 February  
   button(type="button").order-to-confirm-item__self-delivery-button.is-active Self-delivery
   button(type="button").order-to-confirm-item__courier-delivery-button Courier delivery
   include ../components/date-selector
   include ../components/address-selector
