ul.catalog.catalog--products
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card
   li.catalog__item
      include ../components/product-card