div.product-card 
   img.product__image(src="/images/product-image.png", alt="product-image")
   h2.product__title Cabometyx 
   p.product__description Cabometyx is a kinase inhibitor, a type of enzyme Cabometyx is a kinase inhibitor, a type of enzyme...
   button.product__add-to-cart Add to cart
   span.product__price $6110