nav.side-menu
   ul.side-menu__list
      li
         button.side-menu__item 
            img(src="/icons/drug-icons/icon-drugs.svg", alt="").side-menu__icon
            span Painkillers

      li
         button.side-menu__item  
            img(src="/icons/drug-icons/icon-thermometer.svg", alt="").side-menu__icon
            span Cold & flu

      li
         button.side-menu__item  
            img(src="/icons/drug-icons/icon-stomach.svg", alt="").side-menu__icon
            span Stomach

      li
         button.side-menu__item  
            img(src="/icons/drug-icons/icon-baby.svg", alt="").side-menu__icon
            span Baby Care
