doctype html 
html(lang='ua')
   head 
      meta(charset='utf-8')
      title='Vite+pug'
      script(src='src/scripts/pages/global.js', type='module') 
      script(src='src/scripts/pages/cart.js', type='module') 
   body 
      include ../components/header
      main
         section(data-js-cart).cart-section.container
            div(data-js-cart-order-list-container).cart-subsection
               h1.cart-subsection__title.icon-cart Cart
               ul(data-js-cart-orders-list).cart-subsection__orders-list 
               div.cart-subsection__buttons
                  span.cart-subsection__price-wrapper Total: 
                     span(data-js-cart-total-price).cart-subsection__price $0
                  button(type="button" data-js-card-select-delivery-button).cart-subsection__delivery-button Select delivery method 
            div(data-js-cart-delivery-section).confirm-subsection
               ul(data-js-cart-orders-to-confirm-list).confirm-subsection__orders-to-confirm-list
               button(type="button" data-js-cart-confirm-order).confirm-subsection__confirm-button Confirm order
               
