doctype html 
html(lang='ua')
   head 
      meta(charset='utf-8')
      title='Vite+pug'
      script(src='src/scripts/pages/categories.js', type='module') 
   body 
      include ../components/header
      main
         section.catalog-section.catalog-section--categories.container 
            include ../components/searcher-categories
            include ../components/categories-catalog            