doctype html 
html(lang='ua')
   head 
      meta(charset='utf-8')
      title='Vite+pug'
      script(src='src/scripts/pages/global.js', type='module') 
      script(src='src/scripts/pages/product.js', type='module') 
   body 
      include ../components/header
      main
         section(data-js-product-page).product-section.container 