@use "../helpers" as *;

.category-card {
   display: grid;
   justify-content: center;
   align-items: center;
   gap: rem(8) rem(4);
   padding: rem(10);
   border-radius: rem(15);
   background-color: var(--color-light);
   grid-template-columns: calc(50% - rem(2)) calc(50% - rem(4));
   grid-template-areas:
      "image image"
      "title button";
   height: 100%;

   &__image {
      --size: #{rem(200)};

      @include square(var(--size));
      grid-area: image;
      justify-self: center;

      @include laptop {
         --size: #{rem(150)};
      }
   }

   &__title,
   &__button {
      padding: rem(8) rem(22);
      font-weight: 400;
      box-sizing: border-box;

      @include laptop {
         padding-inline: rem(10);
      }
   }

   &__title {
      @include fluid-text(16, 14);
      grid-area: title;
      color: var(--color-dark);
      text-align: center;

      @include mobile-s {
         font-size: rem(16);
      }

      @include mobile-s {
         padding: 0;
      }
   }

   &__button {
      @include fluid-text(16, 14);
      grid-area: button;
      display: inline-block;
      text-align: center;
      background-color: var(--color-accent-20);
      color: var(--color-light);
      border-radius: rem(5);

      @include hover {
         background-color: var(--color-accent-10);
      }
   }
}
