@use "../helpers" as *;

@use "../helpers" as *;

.accordion-group {
   display: flex;
   flex-direction: column;
   row-gap: rem(15);
   border-radius: rem(8);
   padding: rem(8);
   width: inherit;

   background-color: var(--color-light);
   color: var(--color-dark);

   max-height: rem(701);

   @include tablet {
      display: none;
      grid-area: list;
   }

   &__inner {
      overflow-y: auto;
      height: 100%;

      @include custom-scrollbar();
   }
}

.accordion-group.is-expanded {
   display: flex;
}
