@use "../helpers" as *;

.header {
   @include abs-x;
   z-index: 1;

   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   padding-top: rem(60);

   &__logo-container {
      display: flex;
      align-items: center;
      column-gap: rem(10);
   }

   .logo__description {
      @include fluid-text(40, 24);
      font-family: var(--font-family-accent);
   }

   .logo {
      --size: #{rem(40)};

      @include square(var(--size));
   }

   @include laptop {
      padding-top: rem(40);
   }
}
