@use "../helpers" as *;

.location-menu {
   visibility: hidden;
   opacity: 0;
   transform: scale(0);
   transform-origin: top right;
   display: grid;
   position: absolute;
   row-gap: rem(15);
   background-color: var(--color-light);
   border-radius: rem(15);
   padding: rem(10);
   right: 0;
   top: rem(40);
   width: rem(280);
   transition-duration: var(--transition-duration);
   z-index: 2;
   box-shadow: var(--box-shadow);

   @include mobile {
      @include abs-x;
   }

   @include mobile-s {
      position: fixed;
      top: rem(100);
   }

   &__search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--color-dark-05);
      border-radius: rem(5);
      padding: rem(5) rem(10);

      &-icon {
         @include square(rem(18));
      }
   }

   &__input {
      @include fluid-text(20, 14);
      width: 80%;
      background-color: inherit;
      color: var(--color-dark);
      border: none;

      &::placeholder {
         color: var(--color-dark-20);
      }

      &:focus {
         outline: none;
      }
   }

   &__list {
      display: grid;
      padding-inline: rem(10);
      max-height: rem(420);
      overflow-y: auto;

      @include custom-scrollbar();

      li {
         &:not(:first-child) {
            margin-top: rem(5);
         }

         &.is-hidden {
            display: none;
         }
      }
   }

   &__item {
      background: none;
      @include fluid-text(20, 14);
      padding-inline: 0;
      transition-duration: var(--transition-duration);
      border-bottom: rem(1) solid #ffffff00;

      @include hover {
         margin-left: rem(2);
         border-color: var(--color-dark);
      }
   }

   &__item.is-selected {
      margin-left: rem(2);
      border-color: var(--color-dark);
   }
}

.location-menu.is-expanded {
   visibility: visible;
   opacity: 1;
   transform: scale(1);
}
