@use "../helpers" as *;

.pharmacy-prices {
   &__search {
      display: flex;
      column-gap: fluid(12, 10);
      padding: rem(6) rem(16);
      background-color: var(--color-dark-10);
      width: max-content;
      border-radius: rem(8);
      align-items: center;

      @include mobile {
         padding: rem(8) rem(10);
      }
   }

   &__search-icon {
      --size: #{rem(18)};
      @include square(var(--size));
   }

   &__input {
      @include fluid-text(20, 14);

      border: none;
      background-color: inherit;
      color: var(--color-dark);

      &::placeholder {
         @include fluid-text(20, 14);
         color: var(--color-dark-20);
      }

      &:focus {
         outline: none;
      }
   }

   &__pharmacies-list {
      justify-self: center;
      margin-top: rem(30);
      --columns-number: 4;
      width: 100%;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(302), 1fr));

      @include computer {
         --columns-number: 3;
      }

      @include laptop {
         --columns-number: 2;
      }

      @include mobile {
         --columns-number: 1;
      }
   }
}
