@use "../helpers" as *;

.product-accordion {
   background-color: var(--color-light);
   padding: rem(20) rem(30);
   border-radius: rem(15);
   color: var(--color-dark);

   @include mobile {
      padding: rem(15) rem(20);
   }

   &__details {
      &[open] {
         .product-accordion__title {
            &::after {
               transform: rotate(0deg);
            }
         }

         & + .product-accordion__content {
            grid-template-rows: 1fr;
         }
      }
   }

   &__summary {
      color: var(--color-dark);
      list-style: none;

      @include hover {
         color: var(--color-dark);
         cursor: pointer;
      }

      &::-webkit-details-marker {
         display: none;
      }
   }

   &__title {
      position: relative;
      padding-right: rem(50);
      color: inherit;
      transition-duration: var(--transition-duration);
      font-weight: 400;
      @include fluid-text(24, 16);
      margin-left: rem(47);

      &::after {
         --size: #{rem(32)};

         @include square(var(--size));
         @include abs-y;

         content: "";
         right: 0;
         background: url("/icons/icon-caret-up.svg") center/cover no-repeat;
         transform: rotate(180deg);
         transition-duration: var(--transition-duration);

         @include laptop {
            --size: #{rem(28)};
         }

         @include mobile {
            --size: #{rem(24)};
         }
      }

      &::before {
         --size: #{rem(32)};

         @include square(var(--size));
         @include abs-y;
         content: "";
         right: calc(100% + rem(15));
      }
   }

   &__content {
      display: grid;
      grid-template-rows: 0fr;
      transition-duration: 0.3s;

      &-inner {
         overflow: hidden;
      }

      &-body {
         display: grid;
         row-gap: rem(5);
         --offsetTop: #{rem(10)};

         margin-top: var(--offsetTop);
         padding-top: var(--offsetTop);
      }

      @include custom-scrollbar();
   }
}
